extends layout

block content
  div.container
    div.navbar.navbar-default.navbar-fixed-top(role="navigation", ng-controller="NavigationController")
      div.container-fluid
        div.navbar-header
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
          <a class="navbar-brand" href="#">Brand</a>
        div#main-navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href="#/") Home
            li
              a(href="#/users/login", class="ng-cloak" ng-show="!user") Login
            li
              a(href="#/users/register", class="ng-cloak" ng-show="!user") Sign up
          ul.nav.navbar-nav.navbar-right
            li
              a(href="#/users/account", ng-show="user") <strong><span ng-bind="user | fullName"/></strong>
            li 
              a(href="#", ng-controller="LogoutController" ng-show="user", ng-click="logout()") Logout

    h1(style="visibility: hidden")= title
    <h2 loading>Loading, please wait...</h2>
    <div ng-view></div>
